@font-face {
  font-family: 'CourierCode';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/CourierCode-Roman.ttf") format("truetype");
}
@font-face {
  font-family: 'CourierCode';
  font-style:italic;
  font-weight: 700;
  src: url("../fonts/CourierCode-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'CourierCode';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/CourierCode-Italic.ttf") format("truetype");
}
@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Monaco.ttf") format("truetype");
}
