/// Regular font family
/// @type List
$text-font: 'CourierCode', 'Courier',  monospace;

/// Headings font family
/// @type List
$heading-font: 'VT323', monospace;


$text-color: rgba(232, 254, 249, 1);
$background: rgba(31, 31, 31, 1);
$heading: rgba(127, 255, 212, 1);
$accent: rgba(75, 246, 217, 1);
$accent2: rgba(266, 66, 178, 1);


$max-width: 1238px;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;
