// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$text-font: 'CourierCode', 'Courier',  monospace;

/// Headings font family
/// @type List
$heading-font: 'Monaco', sans-serif;

/// Code (monospace) font family
/// @type List
/// ?????


// {
//   --bg: #1D262D;
//   --primary: #311996;
//   --white: #F8F0E4;
//   --text: #F8F0E4;
//   --accent: #E12179;
//   --accent2: linear-gradient(0deg, #BC1964 0%, #311996 100%);
//   --hover: linear-gradient(0deg, #BC1964 0%, #311996 100%);
//   --linkedin: #2867B2;
//   --linkedin-bg: rgba(40, 103, 178, 0.35);
//   --github: #6E5494;
//   --github-bg: rgba(110, 84, 148, 0.35);
//   --codepen: rgba(255, 255, 255, 0.65);
//   --codepen-bg: rgba(255, 255, 255, 0.15);
//   --max-width: 1440px;
//   --content-width: 1238px
// }


/* .light {
  --bg: #F8F0E4;
  --primary: #311996;
  --white: #F8F0E4;
  --text: #311996;
  --accent: #E12179;
  --accent2: #311996;
  --linkedin: #2867B2;
  --github: #c9510c;
  --github-bg: rgba(201, 81, 12, 0.35);
  --codepen: #12100B;
  --codepen-bg: rgba(18, 16, 11, 0.35);
} */

/* Light theme colors */


/// Copy text color
/// @type Color
$text-color: rgb(84, 0, 101) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;



/// Container's maximum width
/// @type Length
$max-width: 1238px !default;



/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;
