.about-me {
  background: url('../images/blocks/1.jpg') center no-repeat;
  position: relative;
}

.about-me-container {
  padding: 5px 35px;
  background-color: rgba(31, 31, 31, 0.9);
}

.about-me__heading {
  text-align: center;
}

.about-me__content {
  line-height: 200%;
  text-align: center;
}
