.contacts {
  background: url('../images/blocks/6.jpg') center no-repeat;
  margin-top: 100px;
}

.contacts-container {
  background-color: rgba(31, 31, 31, 0.9);
}

.contacts__logo {
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  margin-top: 20px;

  &::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: $accent;
    top: 80%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1.2em) rotateX(40deg) scale(1.5, 0.5);
    filter: blur(1.15em);
    opacity: 0.7;

    transition: transform 0.5s linear;
  }
}

.contacts__logo:hover::before,
.contacts__logo:focus::before {
  opacity: 1;
  transform: perspective(1em) rotateX(40deg) scale(1.5, 0.6);
  transition: transform 0.5s linear;
}

.contacts__logo--tg {
  background: url('../icons/telegram.svg') center no-repeat;
  background-size: contain;
  transition: all ease-in-out 0.3s;

  &:hover {
    scale: 1.3;
    background: url('../icons/telegram-colored.svg') center;
    background-size: 100%;
  }
}

.contacts__logo--ds {
  background: url('../icons/discord.svg') center no-repeat;
  background-size: contain;
  transition: all ease-in-out 0.3s;

  &:hover {
    scale: 1.3;
    background: url('../icons/discord-colored.svg') center;
    background-size: 100%;
  }
}

.contacts__logo--gmail {
  background: url('../icons/gmail.svg') center no-repeat;
  background-size: contain;
  transition: all ease-in-out 0.3s;

  &:hover {
    scale: 1.3;
    background: url('../icons/gmail-colored.svg') center;
    background-size: 100%;
  }
}

.contacts__socials {
  display: flex;
  justify-content: space-around;
  --x: 50%;
	--y: 50%;
  border: 5px solid transparent;
	background: linear-gradient(#000, #000) padding-box, radial-gradient(farthest-corner at var(--x) var(--y),  $accent2, $accent) border-box;
  opacity: 0.7;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__text {
  color: $accent2;
  text-shadow: 0 0 25px rgb(255, 50, 208)
}

.contacts__content {
  text-align: center;
  padding: 10px;
  width: fit-content;
  margin: 100px auto 30px;
  --x: 50%;
	--y: 50%;
  border: 5px solid transparent;
	background: linear-gradient(#000, #000) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), $accent, $accent2) border-box;
  opacity: 0.7;
}

.contacts__hint {
  display: block;
  text-align: center;
  margin: auto;
  width: 100%;
  font-size: large;
  background: linear-gradient(to bottom, rgba(75,246,218,0) 0%, rgba(75,246,217,0) 0%, rgb(41, 132, 116) 100%);

  & span {
    font-family: $heading-font;
    font-size: 32px;
    color: $accent;

  }
}
