.header {
  height: 80px;
  background: linear-gradient(to top, rgba(75,246,218,0) 0%, rgba(75,246,217,0) 0%, rgba(75,246,217,1) 100%);
}

.nav {
  position: fixed;
  width: 100%;
  background: linear-gradient(to top, rgba(75,246,218,0) 0%, rgba(75,246,217,0) 0%, rgb(0, 91, 75) 100%);
  z-index: 10;
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__item {
  color: $accent;
}
